#close-modal:hover {
    cursor: pointer;
}

#book-modal-container {
    border: 0.1rem solid var(--color-gray-200);
    border-radius: 0.8rem;
}

.book-modal {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    width: 59rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.modal-title {
    font-size: var(--font-size-lg);
    color: var(--color-gray-500);
}

#book-form {
    display: flex;
    flex-direction: column;
}

#book-form label {
    margin-bottom: 0.8rem;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-gray-500);
}

#book-form input {
    margin-bottom: 1.6rem;
    padding: 0.8rem;
    border: none;
    background-color: var(--color-gray-100);
    outline: none;
    border-radius: 0.8rem;
    padding: 0.8rem 1.2rem;
}

.status-select {
    padding: 0.8rem;
    margin-bottom: 1.6rem;
    outline: none;
    border: none;
    font-size: var(--font-size-sm);
    border-radius: 0.8rem;
    background-color: var(--color-gray-100);
    color: var(--color-gray-500);
    appearance: none;
    --webkit-appearance: none;
    background-image: url('../assets/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.6rem;
}

.status-select option {
    border: none;
    color: var(--color-gray-500);
}

/* Stars */
#star-rating {
    width: 100%;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}

#star-rating label {
    cursor: pointer;
    display: inline-block;
    width: 2rem; 
    height: 2rem;
}

#star-rating input {
    display: none;
}

#star-rating .star-filled {
    display: none;
}
#star-rating input:checked ~label .star-filled {
    display: inline-block;
}
#star-rating input:checked ~ label .star-empty{
    display: none;
}


#coments {
    outline: none;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--color-gray-100);
    padding: 0.8rem;
    font-size: var(--font-size-sm);
    font-family: 'Inter', sans-serif;
    margin-bottom: 1.6rem;
}

.form-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.form-buttons button {
    width: 9.6rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    border-radius: 0.8rem;
    border: none;
}

.form-buttons button:last-child {
    margin-right: 0.8rem;
}

.form-buttons button:first-child {
    background-color: var(--color-gray-500);
    color: var(--color-white);
}