nav {
    border-radius: 0.8rem;
}

#form-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
}

#form-search  fieldset{
    width: 80%;
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--color-gray-100);
    outline: none; 
    border-radius: 0.8rem;
    padding: 0.8rem 1.2rem;
}

#form-search svg {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--color-gray-400);
    margin-right: 0.3rem;
    
}

#form-search input {
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: var(--color-gray-400);
    font-size: var(--font-size-sm);
    width: 100%;
}

#select-group {
    margin-left: 1.6rem;
    width: 19.2rem;
    border: none;
    font-size: var(--font-size-sm);
    border-radius: 0.8rem;
    background-color: var(--color-gray-100);
    color: var(--color-gray-500);
    padding: 0.8rem 1.2rem;
    appearance: none;
    --webkit-appearance: none;
    background-image: url('../assets/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.6rem;

}
